<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css">   
    <title>Document</title>
</head>
<body>
    <div id="cima">
       <h2 id="marca">
        marca
       </h2> 
       <div id="esquerdo">
           home<br>
           sobre<br>
           noticias<br>
           produtos<br>
           serviços<br>
           clientes<br>
           contato<br>
       </div>
       <div id="centro">
           Conteudo principal
       </div>
       <div id="direito">
           conteudo secundário
       </div>
       
       <div class="clear">

       </div>
       
       <div id="rodape">
           rodapé
       </div>
    </div>
    
</body>
</html>